<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nosifer&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./css/navbar.css" rel="stylesheet" />
    <title>Fruite Juice</title>
</head>
<body>
    <div class="main-container">
        <div class="header-container">
            <div class="navigation-container">
                <span class="logo">Fruit Juice</span>
                <span class="tagline">Choose Your Favorite Juice</span>
                <span class="nav-item1">Home</span>
                <span class="nav-item2">Shop</span>
                <span class="nav-item3">Contact</span>
                <div class="menu-icon">
                    <div class="menu-inner">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
