<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet" />
    <link href="./css/navigation.css" rel="stylesheet" />
    <title>TeaEvents</title>
</head>
<body>
    <div class="landing">
        <div class="forland"></div>
        <div class="new">
            <div class="div_1"></div>
            <div class="img">
                <span class="events">Events</span>
                <span class="teaparty">TeaParty</span>
                <span class="members">Members</span>
                <span class="about">AboutUS</span>
                <span class="general">General</span>
                <span class="login">Login/Register</span>
            </div>
        </div>

    </div>
</body>
</html>
