* {
    box-sizing: border-box;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.landing {
    width: 100%;
    height: 80px;
    background: none;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.forland {
    width: 100%;
    height: 100%;
}

.new {
    width: 100%;
    height: 109px;
    position: fixed;
    top: 0;
    left: 1px;
    overflow: hidden;
}

.div1 {
    width: 100%;
    height: 80px;
    background: rgba(63,100,97,0.85);
    position: fixed;
    top: 0%;
    left: 0;
    border-bottom-left-radius: 134px;
    border-bottom-right-radius: 134px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
}

.events, .teaparty, .members, .about, .general, .login {
    color: rgba(233,229,227,1);
    font-family: Kurale;
    font-size: 1.8vw;
    opacity: 1;
    text-align: center;
    margin-bottom: 3%;
    width: 10%;
}
